body {
	background: black;
	color: #00BB00;
	font-family: sans-serif;
}

#headWrapper {
	width: 100%;
	float: left;
	text-align: center;
	font-family: sans-serif;
}

.statustext {
	float: left; 
	width: 100%;

}

.updownBtn{
	float: left; 
	width: 100%;
}

.leftrightBtn {
	float: left;
	width: 50%;
}

.btn {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.btn:hover {
	background-color:#5cbf2a;
}

.btn:active {
	position:relative;
	top:1px;
}

.wrapper {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

#camera {
	width: 400px;
	height: 300px;
	border: solid 1px black;
	float: left;
}

#camBtn {
    margin-top: 18%;
}

